
/* body */
body
{
    font-family:"montserrat-black";
}

.title
{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding-bottom: 8%;
}
#container-fluid
{
    padding: 3%  15% 7%;
}

h1
{
    font-family: "montserrat-black";
    font-size: 3rem;
    line-height: 1.5;
    
}


h3
{
    font-family: "montserrat-black" ;
    font-weight: bold;
}


p
{
    color: #8f8f8f;
}


.navbar
{
  padding:0 0 4.5rem;
}

.navbar-brand
{
    font-family: "Ubuntu";
    font-size: 3.5rem;
    font-weight: bold;
}


.nav-item
{
    padding: 0 15px;
}


.nav-link
{
    font-family:  "ubuntu";
    font-size: 1.2rem;
}

.download-btn
{
    margin:5% 3% 5% 0;
    border-radius: 7px;
}

.title-image
{
    width: 22%;
    transform: rotate(25deg);
    position: absolute;
    height: 88%;
    right: 22%; 
}

@media(max-width:1028px)
{
    .title-image{
        position: static;
        transform: rotate(0deg);
        width: 60%;
        padding-top: 5%;
    }
}

#features
{
    padding: 7% 15%;
    background-color:#fff ;
    position: relative;
   z-index: 1;
}

.feature-box
{
    text-align: center;
    padding: 5%;
}


.icon
{
    color: #ef8172;
    margin-bottom: 30px;
}


.icon:hover
{
    color: #ff4c68;                    
}

#testimonials
{
  
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

h2
{
    font-family:"montserrat-black";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}


.testimonials-image
{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


#press
{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}


.press-logo
{
    width: 15%;
    margin: 20px 20px 50px;

}


.carousel-item
 {
    padding:  7% 15%;

}

.card-header
{
    background-color: #ff4c68;
}


#pricing
{
    padding: 100px;
    text-align: center;
}

.pricing-col
{
    padding: 3% 2%;
}

#cta
{
    background-color: #ff4c68;
    text-align: center;
    padding-top: 7%;
    color: #fff;
    font-family:"montserrat-black";
    font-size: 1.2rem;
    font-weight: bold;
   
}


#footer
{
    text-align: center;
    margin-top: 20px;
    
}

.footer-links
{
    margin: 0 5px;
    color: black;
}


.footer-links:hover
{
    color: #ff4c68;
}
.fa-brands{
   padding-right: 5px; 
}